<% if user_signed_in? %>
<div class="jumbotron center">
	<div class="panel panel-default">
    	<div class="panel-body">
<h1>درود. خوش آمدید</h1>
<h2>dorood, khosh amadid</h2>
<h2>hello, welcome</h2>
  		</div>
	</div>
</div>

<% else %>
<div class="jumbotron center", id="first">
<h1 style="color: #ecf0f1;"></h1>
</div>
<h3 style="text-align: center"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %></h3>


<div class="jumbotron center", id="second">
<h3 style="color: #ecf0f1;">Hello Iran is a photo application that aims to share a view of Iran rarely seen by outsiders.</h3>
</div>


<% end %>

