<h4>Iranapp is a photo application that aims to share a view of Iran that is rarely seen by outsiders. By allowing its users to post and exhibit photographs of Iran's people, landscapes, art and culture, it showcases Iran's traditional openness, friendliness and beauty.</h4>

<p>By farrhood</p>