<h4>Hello Iran is a photo application that aims to share a view of Iran that is rarely seen by outsiders.</h4>

<h4>By allowing its users to post and exhibit photographs of Iran's people, landscapes, art and culture, it hopes to attract and spark interest in those who think little of the region.</h4>

<h4>Everyone deserves a chance to witness Iran's traditional openness, friendliness and natural beauty.</h4>

<p>By farrhood</p>